
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lmpjt.pilotpjt.dao.BookDAO">

	<insert id="insertBook">
		insert into bookinfo(bookNumber, bookTitle,
		bookComent, bookWrite, bookPub,
		bookDate, bookMajorCategory,
		bookSubCategory, bookCount)
		values ((select nvl(max(bookNumber), 0)+1
		from bookinfo),
		#{bookTitle}, #{bookComent}, #{bookWrite}, #{bookPub},
		#{bookDate}, #{bookMajorCategory}, #{bookSubCategory}, #{bookCount})
	</insert>
	<update id="updateBook"> update bookinfo set bookIsbn=#{bookIsbn},
		bookTitle=#{bookTitle}, bookComent=#{bookComent},
		bookWrite=#{bookWrite}, bookPub=#{bookPub}, bookDate=#{bookDate},
		bookMajorCategory=#{bookMajorCategory},
		bookSubCategory=#{bookSubCategory}, bookCount=#{bookCount} where
		bookNumber=#{bookNumber}
	</update>

	<select id="mainBookInfo"
		resultType="com.lmpjt.pilotpjt.dto.BookDTO">
		SELECT *
		FROM (
		SELECT *
		FROM bookinfo
		ORDER BY bookBorrowCount
		DESC
		)
		WHERE ROWNUM &lt;= 10
	</select>


	<select id="searchBookInfo"
		resultType="com.lmpjt.pilotpjt.dto.BookDTO" parameterType="map">

		SELECT *
		FROM bookinfo
		WHERE 1=1

		<choose>
			<when
				test="searchType == 'title' and searchKeyword != null and searchKeyword != ''">
				AND bookTitle LIKE '%' || #{searchKeyword} || '%'
			</when>
			<when
				test="searchType == 'author' and searchKeyword != null and searchKeyword != ''">
				AND bookWrite LIKE '%' || #{searchKeyword} || '%'
			</when>
			<when
				test="searchType == 'isbn' and searchKeyword != null and searchKeyword != ''">
				AND bookIsbn LIKE '%' || #{searchKeyword} || '%'
			</when>
			<when
				test="searchType == 'publisher' and searchKeyword != null and searchKeyword != ''">
				AND bookPub LIKE '%' || #{searchKeyword} || '%'
			</when>
		</choose>

		<if test="majorCategory != null and majorCategory != ''">
			AND bookMajorCategory = #{majorCategory}
		</if>

		<if test="subCategory != null and subCategory != ''">
			AND bookSubCategory = #{subCategory}
		</if>

		ORDER BY bookTitle ASC
	</select>
	<select id="bookDetailInfo"
		resultType="com.lmpjt.pilotpjt.dto.BookDTO">
		select bookNumber, bookIsbn, bookTitle, bookComent,
		bookWrite,
		bookPub, bookDate, bookMajorCategory, bookSubCategory,
		bookCount,
		bookBorrowCount
		from bookinfo where bookNumber=#{bookNumber}
	</select>

	<insert id="bookBorrow">
		insert into book_borrow(BORROWNUMBER, USERNUMBER,
		BOOKNUMBER)
		values ((select nvl(max(BORROWNUMBER), 0)+1
		from
		book_borrow),${userNumber},${bookNumber})
	</insert>
	<insert id="bookReturn">
		insert into return_record(RETURNNUMBER, USERNUMBER,
		BOOKNUMBER) values
		((select nvl(max(RETURNNUMBER), 0)+1 from
		return_record),${userNumber},${bookNumber})
	</insert>

	<select id="bookBorrowed"
		resultType="com.lmpjt.pilotpjt.dto.BookRecordDTO">
		select bookTitle, bookWrite, borrowNumber, userNumber,
		bookNumber, bookBorrowDate, bookReturnDate
		from book_borrow where
		userNumber=#{userNumber}
	</select>

	<select id="bookBorrowRecord"
		resultType="com.lmpjt.pilotpjt.dto.BookRecordDTO"> SELECT br.userNumber AS userNumber, br.bookNumber AS
		bookNumber,br.bookTitle AS bookTitle,br.bookWrite AS
		bookWrite,br.bookBorrowDate AS bookBorrowDate,rr.bookReturnDate AS
		bookReturnDate FROM borrow_record br JOIN return_record rr ON
		rr.bookJoinKey = br.borrowRecordNumber WHERE br.userNumber =
		#{userNumber} ORDER BY br.bookBorrowDate ASC </select>
</mapper>